@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');
*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
    font-family: 'Source Sans Pro', sans-serif !important ;
    font-size: 20px;

}
body{
    
    font-family: 'Source Sans Pro', sans-serif !important;
}

header {
    z-index: 5 !important;
    .navbar{
        
        background-color: transparent !important;
        .container-fluid{
            padding: 20px 0 !important;
            position: relative;
            margin-left: 150px !important;
            a{
                color: #fb811e;
                transition: all 0.5s;
                &:hover{
                    color: black;
                }
            }
            span{
                
                position: absolute;
                left:2.5rem;
                top:5px;

            }
            .collapse{
                display: flex;
                justify-content: end;
                margin-right: 100px !important;
                position: relative;
                .dropdown{
                    
                    .dropdown-menu{
                        position: absolute;
                        top: 2rem;
                        left:-9rem;
                        text-align: center;
                        li{
                            transition: all 0.5s;
                            a{
                                font-size: 0.9rem !important;
                                color: black;
                                font-weight: 700;
                                transition: all 0.5s;
                                text-transform: uppercase;
                                &:hover{
                                    color: #fb811e;
                                    background-color: white;
                                }
                            }
                            .drop-item1{
                                color: #fb811e !important;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

/*Carousel*/
.Carousel{
    position: relative !important;
    .container{
        display: flex !important;
        justify-content: space-between !important;
        .information-left{
            width:40%;
            
            h1{
                position: absolute;
                top:100px;
                left:100px;
                display: inline-block;
                font-size: 5rem;
                font-weight: bold;
                color: #f4f4f4;
                
            }
            .bann-contents{
                position: absolute;
                z-index: 6;
                top:175px;
                left:150px;
                h3{
                    font-size: 2rem;
                    font-weight: 900;
                }
                p{

                }
                a{
                    display: inline-block;
                    background-color: #fb811e;
                    height:2rem;
                    border-radius: 40px;
                    padding-top: 0.3rem !important;
                    text-transform: uppercase;
                    color: white;
                    font-size: 0.8rem;
                    font-weight: 900;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #009f4d;
                    }
                }
            }
        }
        .information-right{
            width:60%;
            margin-right: -5rem !important;
            .carousel{
                .carousel-indicators [data-bs-target]{
                    width: 10px !important;
                    height: 30px !important;
                    border-radius: 50%;
                    background-color: #d4d4d4 !important;
                    margin: 0 10px !important;
                }
                .carousel-inner{
                    .carousel-item{
                        img{
                            width:100% !important;
                            height:590px;
                            border-radius: 0 0 0 40px;
                        }
                        .carousel-caption{
                            width: 200px;
                            position: absolute;
                            text-align: center;
                            left: 500px;
                            h5{
                                color:white;
                            }
                            p{
                                color:white;
                            }
                        }
                    }
                }
            }
        }
    }
}