@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');
*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
    font-family: 'Source Sans Pro', sans-serif !important ;
    font-size: 20px;

}
body{
    
    font-family: 'Source Sans Pro', sans-serif !important;
}

header {
    z-index: 5 !important;
    .navbar{
        
        background-color: transparent !important;
        .container-fluid{
            padding: 20px 0 !important;
            position: relative;
            margin-left: 150px !important;
            a{
                color: #fb811e;
                transition: all 0.5s;
                &:hover{
                    color: black;
                }
            }
            span{
                
                position: absolute;
                left:2.5rem;
                top:5px;

            }
            .collapse{
                display: flex;
                justify-content: end;
                margin-right: 100px !important;
                position: relative;
                .dropdown{
                    
                    .dropdown-menu{
                        position: absolute;
                        top: 2rem;
                        left:-9rem;
                        text-align: center;
                        li{
                            transition: all 0.5s;
                            a{
                                font-size: 0.9rem !important;
                                color: black;
                                font-weight: 700;
                                transition: all 0.5s;
                                text-transform: uppercase;
                                &:hover{
                                    color: #fb811e;
                                    background-color: white;
                                }
                            }
                            .drop-item1{
                                color: #fb811e !important;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}

/*Carousel*/
.Carousel{
    position: relative !important;
    .container{
        display: flex !important;
        justify-content: space-between !important;
        .information-left{
            width:40%;
            
            h1{
                position: absolute;
                top:100px;
                left:100px;
                display: inline-block;
                font-size: 5rem;
                font-weight: bold;
                color: #f4f4f4;
                
            }
            .bann-contents{
                position: absolute;
                z-index: 6;
                top:175px;
                left:150px;
                h3{
                    font-size: 2rem;
                    font-weight: 900;
                }
                p{

                }
                a{
                    display: inline-block;
                    background-color: #fb811e;
                    height:2.5rem;
                    border-radius: 40px;
                    padding-top: 0.3rem !important;
                    text-transform: uppercase;
                    color: white;
                    font-size: 0.8rem;
                    font-weight: 900;
                    transition: all 0.5s;
                    &:hover{
                        background-color: #009f4d;
                    }
                }
            }
        }
        .information-right{
            width:55%;
            margin-right: -3.5rem !important;
            .carousel{
                .carousel-indicators [data-bs-target]{
                    width: 10px !important;
                    height: 30px !important;
                    border-radius: 50%;
                    background-color: #d4d4d4 !important;
                    margin: 0 10px !important;
                }
                .carousel-inner{
                    .carousel-item{
                        img{
                            width:100% !important;
                            height:590px;
                            border-radius: 0 0 0 40px;
                        }
                        .carousel-caption{
                            width: 200px;
                            position: absolute;
                            text-align: center;
                            left: 500px;
                            h5{
                                color:white;
                            }
                            p{
                                color:white;
                            }
                        }
                    }
                }
            }
        }
    }
}
/**/
.w3l-features{
  
    .container{
        margin:auto !important;
        .main-cont-wthree-2{
            
            .feature-grid-left{
                width: 40%;
                margin-left: 10px !important;
                h5{
                    color: #fb811e;
                }
                h3{
                    font-weight: 1000;
                }
                p{
                    font-size: 0.8rem;
                }
                a{
                    display: inline-block;
                    background-color: #fb811e;
                    height:2rem;
                    border-radius: 40px;
                    padding-top: 0.3rem !important;
                    text-transform: uppercase;
                    color: white;
                    font-size: 0.8rem;
                    font-weight: 900;
                    transition: all 0.5s;
                    width: 30%;
                    &:hover{
                        background-color: #009f4d;
                    }
                }
            }
            .feature-grid-right{
                // width: 70%;
                padding-left: 50px !important;
                .box{
                    padding:auto;
                    .box-wrap{
                        box-shadow: -1px 2px 36px -5px rgba(0,0,0,0.46);
                        -webkit-box-shadow: -1px 2px 36px -5px rgba(0,0,0,0.46);
                        -moz-box-shadow: -1px 2px 36px -5px rgba(0,0,0,0.46);
                        width: 40% !important;
                        height: 7rem;
                        margin: 0 20px !important;
                        border-radius: 30px;
                        align-items: center;
                        transition: all 0.5s;
                        .icon{
                            padding-top: 1rem !important;
                            align-items: center;
                            text-align: center;
                            img{
                               
                            width: 30%;
                            }
                        }
                        h4{
                            text-align: center;
                            a{
                                color: black;
                                font-weight: 900;
                                font-size: 1rem;
                                transition: all 0.5s;
                                &:hover{
                                    color: #009f4d;
                                }
                            }
                        }
                        &:hover{
                            box-shadow: -1px 2px 36px 15px rgba(0,0,0,0.46);
                            -webkit-box-shadow: -1px 2px 36px 15px rgba(0,0,0,0.46);
                            -moz-box-shadow: -1px 2px 36px 15px rgba(0,0,0,0.46);
                        }
                    }
                }
            }
        }
    }
}

/*FEATURES*/
.feature{
    position: relative;
    background-color: #009f4d;
    .feature-top{
        position: absolute;
        width:100%;
        h1{
            font-size: 8rem;
            font-weight: 800;
            color: rgba(32,201,151,0.2);
        }
    }
    .feature-body{
        width: 80%;
        margin: auto !important;
        .feature-title{
            
            h2{
               font-size: 1rem;
                color: white;
                font-weight: 600;
            }
            h1{
                font-size: 2rem;
                color:white;
                font-weight: 900;
            }
        }
        .feature-describe{
            p{  
                display: block;
                font-size: 0.8rem;
                color: white;
            }
        }
        
    }
    .feature-bottom{
        width: 80%;
        margin:auto !important;
        .feature-items{
            padding: 1rem 0;
            margin:auto;
            .feature-content{
                width: 95%;
                border-radius: 10px;
                 background-color: white;
                .content-header{
                    a{
                        display: inline-block;
                        img{
                            border-radius: 10px 10px 0 0;
                            width:100% !important; 
                        }
                    }
                    
                }
                .content-body{
                    width: 90%;
                    margin:auto !important;
                    h2{ 
                        border-radius: 40px;
                        margin: 0.5rem 0 !important;
                        color: #009f4d;
                        text-align: center;
                        font-size: 0.9rem;
                        display: inline-block;
                        width: 40%;
                        height: 1.5rem;
                        background-color: rgba(0,159,77,0.16);
                        padding: 0.2rem 0 !important;
                    }
                    h1{
                        font-size: 1rem;
                        font-weight: 800;
                    }
                    p{  
                        margin: 0.5rem 0 !important;
                        display: inline-block;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}